@media (max-width: 600px) {
  body {
    margin: 20px;
  }

  h1 {
    font-size: 28;
  }

  p {
    font-size: 16;
  }

  #quote {
    font-size: 18;
  }

  #author {
    font-size: 16;
  }

  button {
    width: 100%;
    max-width: 300px;
  }
}